<%= render 'songs/search2' %>
<div>
  <% @songs.each do |song| %>
    
    <% if @artist != song.artist %>
      <% @artist=song.artist %>
      <h3><%= @artist %></h3>
    <% end %>
    <table class="table table-sm">
      <tbody>
        <tr>
          <td class="col-5">
            <%= link_to song_path(song) do %>
              <%= song.song_name %>
            <% end %>
          </td>
          <td class="col-4">
            <div style="display:inline-flex">
            <%= form_with model: song, local:true do |f| %>
              <%= f.select :key, {"+7": +7, "+6": +6,"+5": +5,"+4": +4,"+3": +3,"+2": +2,"+1": +1,原キー: 0,"-1": -1,"-2": -2,"-3": -3,"-4": -4,"-5": -5,"-6": -6,"-7": -7} %>
              <%= f.submit '更新' %>
            <% end %>
            </div
          </td>
          <td class="col-3"><%= link_to "削除", song_path(song), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>