<!DOCTYPE html>
<html>
  <head>
    <title>KaraokeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>aiueo</div>
    <header>
      <% if user_signed_in? %>
        <%= link_to "マイページ", mypage_path %>
        <%= link_to "曲一覧", songs_path %>
        <%= link_to "アーティスト順", artists_path %>
        <%= link_to "そんぐキーぷとは？", about_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "そんぐキーぷとは？", about_path %>
      <% end %>
      
    </header>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
